/* PAGES */
article {
    background: linear-gradient(to bottom right, rgb(233, 233, 233) 70%, #ee371b9a);
}
.portafolio {
    text-align: center;
    font-size: 2rem;
    padding-top: 130px;
    padding-bottom: 50px;
    color: rgb(88, 88, 88);
    text-shadow: 2px 2px 5px #ee371b3d;
}
.section-proyectos {
    padding-bottom: 36px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.imgONG {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    transition-duration: 1s;
}
.imgONG:hover {
    filter: drop-shadow(2px 2px 5px #ee371ba8);
    transform: scale(1.1);
}

@media (min-width: 500px) and (max-width: 1000px) {
    .section-proyectos {
        display: flex;
        flex-direction: column;
    }
    a {
        padding-bottom: 50px;
    }
  }

  @media (max-width: 499px) {
    .section-proyectos {
        display: flex;
        flex-direction: column;
    }
    a {
        padding-bottom: 50px;
    }
    .imgONG {
        width: 300px;
        height: 200px;
    }
  }